# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Doxygen output
doc/html
doc/latex

# build output
build
bin
monitor*.csv

# CMake
CMakeFiles
CMakeCache.txt

# Others
coverage/
.vs
.vscode
.cache
.codeql
.cppcheck
.cccc
.valgrind
.gprof
tmp/
